@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
    background-color: rgb(138, 173, 76);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #232323;
}

#page-title {
    letter-spacing: 2px;
}

#grid-item-2 {
    grid-column: 1;
    border-bottom: 3px solid #232323;
}

#grid-item-2 p {
    font-size: 1.0rem;
    font-weight: bold;
    margin: auto;
}

#rules {
    text-align: center;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 700;
}

#rules h2 {
    margin-bottom: 3%;
    margin-top: 1%;
}

#rules p {
    padding-bottom: 5%;
}

#grid-item-3, #grid-item-4, #grid-item-5, #grid-item-6 {
    visibility: hidden;
}

button {
    font-size: 2.7rem;
    font-family: inherit;
    font-weight: bolder;
}

#hit-button {
    border-top: 5px solid #232323;
    border-left: 5px solid #232323;
    border-right: 5px solid #232323;
    border-bottom: 2px solid #232323;
}

#stand-button {
    border-top: 2px solid #232323;
    border-left: 5px solid #232323;
    border-right: 5px solid #232323;
    border-bottom: 5px solid #232323;
}

#rules-button {
    margin-top: 5%;
    font-size: 2rem;
}

.total-header {
    font-size: 1.25rem;
}

#page-container {
    display: grid;
    grid-template-rows: 50px 25px 210px 90px repeat(2, 210px);
    grid-template-columns: 100%;
}

.grid-item {
    display: grid;
    /* border: 1px solid red; */
    grid-column: 1;  
    text-align: center;
}

.grid-item p, #grid-item h2, #grid-item h3 {
    margin: auto;
}

#grid-item-1 {
    grid-column: 1;
}

#page-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin: auto;
}

#grid-item-4 {
    border-top: 3px solid #232323;
    border-bottom: 3px solid #232323;
}

#computer-score, #player-score {
    font-size: large;
}

#turn-reminder {
    visibility: hidden;
}


/* Media Queries */
@media screen and (min-width: 500px) {
    button {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
    }

    .total-header {
        font-size: 2rem;
    }

    #player-score, #computer-score {
        font-size: 1.5rem;
    }

    #player-total, #computer-total {
        font-size: 2rem;
    }

    #grid-item-4 {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #grid-item-6 {
        margin-top: 3%;
    }

    #rules h2 {
        font-size: 2.5rem;
    }

    #rules p {
        font-size: 1.1rem;
        padding-bottom: 3%;
    }

    #rules-button {
        margin-top: 1%;
        height: 20%;
        width: 30%;
        border: 2px solid #232323;
        border-radius: 50%;
    }

    #player-cards, #computer-cards {
        font-size: 1.5rem;
    }
}